{% extends "book/layout.html" %}

{% block content %}
<h1>{{ book.title }}</h1>

<ul>
    <li>
        장르:
        <a href="/book/genre/{{ book.genre.pk }}/">
            {{ book.genre.name }}
        </a>
    </li>
</ul>

<img src="{{ book.image.url }}" style="max-width: 100%;" />

<hr />

{{ book.desc|linebreaks }}

<h3>Videos</h3>

<ul>
    {% for video in book.video_set.all %}
    <li>
        <a href="{{ video.youtube_url }}">
            {{ video.video_title }}
        </a>

        {% include "book/_youtube_embed.html" with youtube_id=video.youtube_id %}

        {% comment %} https://www.youtube.com/watch?v=xyfozmk1SxQ
        https://www.youtube.com/embed/xyfozmk1SxQ

        <iframe id="ytplayer" type="text/html" width="640" height="360"
            src="https://www.youtube.com/embed/xyfozmk1SxQ?autoplay=1&origin=http://example.com"
            frameborder="0"></iframe> {% endcomment %}

    </li>
    {% endfor %}
</ul>

<h3>Reviews</h3>
<a href = "reviews/new/">리뷰 쓰기</a>
{% comment %} <a href="{% url "review_new" movie.pk %}">
    리뷰 쓰기
</a> {% endcomment %}

{% comment %} <div id="review-list"></div> {% endcomment %}
<ul>
    {% for message in message_list %}
    <li>
        {{ message.message }}
        <a href="/book/{{ book.pk }}/book/{{ message.pk }}/edit/">Edit</a>
        <a href="/book/{{ book.pk }}/book/{{ message.pk }}/delete/">Delete</a>
    </li>
    {% endfor %}
</ul>



{% endblock %}